<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student List</title>

</head>
<body>
<div class="table-container">
  <h2>Student List</h2>
  <table>
    <thead>
    <tr>
      <th style="text-align: center">ID</th>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">Contact Number</th>
      <th style="text-align: center">Address</th>
      <th style="text-align: center">Gender</th>
      <th style="text-align: center">Age</th>
      <th style="text-align: center">NID</th>
      <th style="text-align: center">SSC Result</th>
      <th style="text-align: center">HSC Result</th>
      <th style="text-align: center">Admission Status</th>
      <th style="text-align: center">Created At</th>
      <th style="text-align: center">Updated At</th>
      <th style="text-align: center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.contactNumber }}</td>
      <td>{{ student.address }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.nid }}</td>
      <td>{{ student.sscResult }}</td>
      <td>{{ student.hscResult }}</td>
      <td>{{ student.admissionStatus }}</td>
      <td>{{ student.createdAt }}</td>
      <td>{{ student.updatedAt }}</td>
      <td>
        <div style="display: flex; gap: 10px;">
          <button class="details-button" routerLink="/students/{{student.id}}/details">Details</button>
          <button class="danger-button delete-button" (click)="confirmDelete(student.id)">Delete</button>
          <button routerLink="/students/{{student.id}}/update">Update</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- The Modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Confirm Delete</h2>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this student?</p>
    </div>
    <div class="modal-footer">
      <button class="modal-button cancel" (click)="closeModal()">Cancel</button>
      <button class="modal-button confirm" (click)="deleteStudent()">Delete</button>
    </div>
  </div>
</div>
</body>
</html>
