<mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactNumber">
        <mat-error *ngIf="form.get('contactNumber')?.invalid">{{getErrorMessage('contactNumber')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="form.get('address')?.invalid">{{getErrorMessage('address')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genderOptions" [value]="gender">{{gender}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('gender')?.invalid">{{getErrorMessage('gender')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="number">
        <mat-error *ngIf="form.get('age')?.invalid">{{getErrorMessage('age')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>NID</mat-label>
        <input matInput formControlName="nid">
        <mat-error *ngIf="form.get('nid')?.invalid">{{getErrorMessage('nid')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>SSC Result</mat-label>
        <input matInput formControlName="sscResult" type="number">
        <mat-error *ngIf="form.get('sscResult')?.invalid">{{getErrorMessage('sscResult')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>HSC Result</mat-label>
        <input matInput formControlName="hscResult" type="number">
        <mat-error *ngIf="form.get('hscResult')?.invalid">{{getErrorMessage('hscResult')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Admission Status</mat-label>
        <mat-select formControlName="admissionStatus">
          <mat-option *ngFor="let status of admissionStatusOptions" [value]="status">{{status}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('admissionStatus')?.invalid">{{getErrorMessage('admissionStatus')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Created At</mat-label>
        <input matInput formControlName="createdAt" [matDatepicker]="createdAtPicker">
        <mat-datepicker-toggle matSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #createdAtPicker></mat-datepicker>
        <mat-error *ngIf="form.get('createdAt')?.invalid">{{getErrorMessage('createdAt')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Updated At</mat-label>
        <input matInput formControlName="updatedAt" [matDatepicker]="updatedAtPicker">
        <mat-datepicker-toggle matSuffix [for]="updatedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #updatedAtPicker></mat-datepicker>
        <mat-error *ngIf="form.get('updatedAt')?.invalid">{{getErrorMessage('updatedAt')}}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()" [disabled]="form.invalid">Save</button>
  </mat-dialog-actions>
  
