.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3f51b5; /* Adjust the color as needed */
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  width: 300px; /* Adjust width as needed */
}

.table-container {
  margin-top: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}
