<h1 mat-dialog-title>Student Details</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <strong>ID:</strong> {{data.id}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Name:</strong> {{data.name}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Contact Number:</strong> {{data.contactNumber}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Address:</strong> {{data.address}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Gender:</strong> {{data.gender}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Age:</strong> {{data.age}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>NID:</strong> {{data.nid}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>SSC Result:</strong> {{data.sscResult}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>HSC Result:</strong> {{data.hscResult}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Admission Status:</strong> {{data.admissionStatus}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Created At:</strong> {{data.createdAt | date}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <strong>Updated At:</strong> {{data.updatedAt | date}}
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

